*
 {
    margin:0;
    padding: 0;
    text-decoration: none;
 }
 
 #col10
 {
    width:500px;
    height:420px;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .13), 0 1px 4px 0 rgba(0, 0, 0, .11);
    margin-left:33%;
    margin-top: 190px;
 }
 .signup
 {
    color:#254381 ;
    font-size: 25px;
    text-align: center;
    margin-top: 5px;
 }
 #col11
 {
    margin-left: 50px;
 }
 #UserName1
 {
    width:80%;
    height:25px;
    border:1px solid gray;
    border-radius: 3px;
    margin-left: 50px;
 }
 #Password1
 {
    width:80%;
    height:25px;
    border:1px solid gray;
    border-radius: 3px;
    margin-left: 50px;
 }
 #ConfirmPassword1
 {
    width:80%;
    height:25px;
    border:1px solid gray;
    border-radius: 3px;
    margin-left: 50px;
 }
 #btn1
 {
    width:80%;
    height:35px;
    border:1px solid #3b5998;
    border-radius:5px;
    background-color:#3b5998;
    margin-left: 50px;
    color:white
    


 }
 